@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background: #eef2ff;
  background: linear-gradient(
    45deg,
    rgba(238, 242, 255, 1) 39%,
    rgba(238, 242, 255, 1) 45%,
    rgba(238, 242, 255, 1) 100%
  );
}
@layer components {
  .container {
    @apply max-w-5xl mx-auto py-8;
  }
}
/* this */
@layer components {
  .active > div > p:nth-child(1) {
    @apply rotate-45 origin-bottom-left bg-primary dark:bg-primary2hover;
  }
}
@layer components {
  .active > div > p:nth-child(2) {
    @apply scale-0;
  }
}
/* this */
@layer components {
  .active > div > p:nth-child(3) {
    @apply -rotate-[45deg] origin-top-left w-[30px] bg-primary dark:bg-primary2hover;
  }
}
@layer components {
  .bayangan {
    @apply shadow-lg shadow-primary2hover;
  }
}
@layer utilities {
  .hidden-me {
    content-visibility: hidden;
  }
}
